pytorch_lightning==2.2.5
ray_lightning
torchmetrics==1.4.0
torchvision==0.18.0
filelock>=3.20.3 # not directly required, pinned by Snyk to avoid a vulnerability
torch>=2.9.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.1.5 # not directly required, pinned by Snyk to avoid a vulnerability
